{% extends 'base/main.html' %}
{% block content %}
<style>
    .custom-card-header {
    height: 55px; /* Adjust the height as needed */
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center content vertically */
}
</style>

<div class="container-fluid px-4">
    <h4 class="mt-4">Season</h4>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="">Home</a></li>
        <li class="breadcrumb-item active">UOM</li>
    </ol>
    
    <div class="card mb-4">
        <div class="card-header custom-card-header">
            <i class="fas fa-table me-1"></i>
            Add UOM
        </div>
        <form action="{% if uom %}/change_uom/{{uom.id}}/{% else %}/add_uom/{% endif %}" method="post">
            {% csrf_token %}
            <div class="card-body">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6 col-md-6">
                            <div class="form-floating mb-3">
                                <input class="form-control" name="name" id="inputGender" type="text" placeholder="Season Name" value="{{uom.name}}" oninput="this.value = this.value.toUpperCase()"  required/>
                                <label for="inputGender">UOM Name</label>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="form-floating mb-3">
                                <input class="form-control" name="short_name" id="inputabb" type="text" placeholder="Season Abb" value="{{uom.abb}}" oninput="this.value = this.value.toUpperCase()"   required/>
                                <label for="inputabb">UOM Abb</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-md-12 d-flex justify-content-center">
                            <button class="btn btn-primary mx-2"> {% if uom %} Update UOM{% else %} Add UOM {% endif %}</button>
                            <button class="btn btn-secondary mx-2" type="reset">Reset</button>
                            <a class="btn btn-secondary mx-2" href="">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}
